.product-page {
    margin-top: 5.5rem;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 60%;
        }

        section {
            width: 50%;

            &:nth-child(1) {
                display: flex;
                justify-content: center;
            }
        }

        strike {
            font-size: 13px;
        }

        h2 {
            font-size: 40px;
            font-weight: 600;
            text-transform: uppercase;
        }

        p {
            font-size: 20px;
            letter-spacing: 1.2px;
        }

        .buy-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .btn {
            background-color: #111;
            color: #fff;
            border-radius: 0;

            i {
                font-size: 18px;
            }

            &:focus {
                box-shadow: 0px 0px 3px 0px #111;
            }

            &:hover {
                box-shadow: 0px 0px 3px 0px #111;
            }
        }

        input {
            width: 50px;
            text-align: center;
            border: 1px solid #111;
        }

        .bestseller {
            color: #FFF;
            background-color: orange;
            padding: 2px 7px;
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width: 600px) {
    .product-page {
        margin-top: 5rem;

        .container {
            flex-direction: column;

            img {
                width: 100%;
                margin-bottom: 1rem;
            }

            section {
                width: 100%;
            }

            .buy-section {
                justify-content: start;
                flex-direction: column;
                align-items: stretch;
            }

            .add_to_cart {
                margin-top: 1.5rem;
            }
        }
    }
}